.personalphoto{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    align-self: auto;
    margin-right: 1%;
}

.quote{
    font-size: 25px;
    margin-top: 5%;
    color:#504b50;
    font-family: 'Fjalla One', sans-serif;
}
.d1{
    align-self: auto;
}
.d2{
    padding-left: 5%;
}
.jobcompany{
    color: #172268;
}
.year{
    color:#756f75;
}
hr{
    height: 0.7px;
    background-color: #06023c;
}   
.projectname{
    color: #800040;
}
.projectphoto{
    height: 130px;
    width: 200px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    border: 2px solid #73AD21;
}